@{
    ViewBag.Title = "Home Page";
}

<div class="Head">
    <img src="/image.jpg" alt="img" class="photo" />
    <h1>Hello, My Name is Terrence Jay F. Pajarillo</h1>
    <p class="lead">BSIT-32E1</p>

</div>
<style>
    img {
        border-radius: 8px;
        width: 300px
    }
</style>
